@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;

    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;

    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;

    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;

    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;

    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;

    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;

    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;

    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

:root {
  --unit: 0.065vw;
  --gradiant: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 47%,
    rgba(252, 176, 69, 1) 100%
  );
  --primary: #fd1d1d;
  --white: #fff;
}
::-webkit-scrollbar {
  width: calc(var(--unit) * 12); /* Width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary); /* Color of the scrollbar thumb */
  border-radius: 6px; /* Roundness of the scrollbar thumb */
  border: 3px solid #f1f1f1; /* Padding around the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar thumb when hovered */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  font-family: "Open Sans", sans-serif !important;
}
a {
  text-decoration: none !important;
  color: black !important;
}
.gradiant {
  background: var(--gradiant);
  color: var(--white) !important;
}

nav {
  position: fixed;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: fit-content !important;
  margin-inline: auto;
  background-color: white;
  background: rgba(255, 255, 255, 0.71);
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  backdrop-filter: blur(7.6px);
  -webkit-backdrop-filter: blur(7.6px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: calc(var(--unit) * 15) calc(var(--unit) * 60);
  border-bottom: calc(var(--unit) * 2) black solid;
  /* margin-top: calc(var(--unit) * 10); */
}
.logo {
  height: calc(var(--unit) * 60);
  width: calc(var(--unit) * 180);
}
.show {
  display: flex !important;
}
.btn {
  min-height: calc(var(--unit) * 56) !important;
  border-radius: calc(var(--unit) * 10) !important;
  color: white !important;
  border: none !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
  font-size: calc(var(--unit) * 18) !important;
  padding-inline: calc(var(--unit) * 20) !important;
  font-weight: 600 !important;
}
.btn-nav {
  padding-inline: calc(var(--unit) * 40) !important;
}
.home-title {
  font-size: calc(var(--unit) * 100) !important;
  font-weight: 800 !important;
  text-align: center;
  margin-top: 10%;
  padding-inline: 5%;
  margin-inline: auto;
  line-height: calc(var(--unit) * 130);
}
.home-title span {
  background-color: #fd1d1d !important;
  margin-inline: auto;
  color: white !important;
  padding: calc(var(--unit) * 10) calc(var(--unit) * 40) !important;
  border-radius: calc(var(--unit) * 1000) !important;
}
.home-btn {
  border-top-left-radius: 1000px !important;
  border-bottom-right-radius: 1000px !important;
  padding-inline: calc(var(--unit) * 40);
  width: 20%;
  border: calc(var(--unit) * 3) black solid !important;
}

@media (max-width: 480px) {
  :root {
    --unit: 0.24132vw;
  }
  nav {
    padding: calc(var(--unit) * 20) calc(var(--unit) * 30) !important;
  }
  nav .list {
    position: absolute;
    top: 110%;
    right: 5%;
    flex-direction: column;
    background-color: white;
    padding: calc(var(--unit) * 30) calc(var(--unit) * 0) !important;
    border-radius: calc(var(--unit) * 10);
    width: 50%;
  }
  nav .list ul {
    flex-direction: column;
    justify-content: start !important;
    align-items: start;
    width: 70%;
    gap: calc(var(--unit) * 20);
    background-color: white;
  }
  nav .list a {
    width: 70%;
    margin-top: calc(var(--unit) * 20);
  }
  .home-title {
    font-size: calc(var(--unit) * 45) !important;

    margin-top: 34%;

    line-height: calc(var(--unit) * 70);
  }
  .home-btn {
    width: 80%;
  }
}
