@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;

    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;

    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;

    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;

    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;

    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;

    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;

    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;

    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

:root {
  --unit: 0.065vw;
  --gradiant: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 47%,
    rgba(252, 176, 69, 1) 100%
  );
  --primary: #fd1d1d;
  --white: #fff;
}
::-webkit-scrollbar {
  width: calc(var(--unit) * 12); /* Width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary); /* Color of the scrollbar thumb */
  border-radius: 6px; /* Roundness of the scrollbar thumb */
  border: 3px solid #f1f1f1; /* Padding around the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar thumb when hovered */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  font-family: "Open Sans", sans-serif !important;
}
a {
  text-decoration: none !important;
  color: black !important;
}
.gradiant {
  background: var(--gradiant);
  color: var(--white) !important;
}

nav {
  position: fixed;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: fit-content !important;
  margin-inline: auto;
  background-color: white;
  background: rgba(255, 255, 255, 0.71);
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  backdrop-filter: blur(7.6px);
  -webkit-backdrop-filter: blur(7.6px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: calc(var(--unit) * 15) calc(var(--unit) * 60);
  border-bottom: calc(var(--unit) * 2) black solid;
  /* margin-top: calc(var(--unit) * 10); */
}
.logo {
  height: calc(var(--unit) * 60);
  width: calc(var(--unit) * 180);
}
.show {
  display: flex !important;
}
.btn {
  min-height: calc(var(--unit) * 56) !important;
  border-radius: calc(var(--unit) * 10) !important;
  color: white !important;
  border: none !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
  font-size: calc(var(--unit) * 18) !important;
  padding-inline: calc(var(--unit) * 20) !important;
  font-weight: 600 !important;
}
.btn-nav {
  padding-inline: calc(var(--unit) * 40) !important;
}
.home-title {
  font-size: calc(var(--unit) * 100) !important;
  font-weight: 800 !important;
  text-align: center;
  margin-top: 10%;
  padding-inline: 5%;
  margin-inline: auto;
  line-height: calc(var(--unit) * 130);
}
.home-title span {
  background-color: #fd1d1d !important;
  margin-inline: auto;
  color: white !important;
  padding: calc(var(--unit) * 10) calc(var(--unit) * 40) !important;
  border-radius: calc(var(--unit) * 1000) !important;
}
.home-btn {
  border-top-left-radius: 1000px !important;
  border-bottom-right-radius: 1000px !important;
  padding-inline: calc(var(--unit) * 40);
  width: 20%;
  border: calc(var(--unit) * 3) black solid !important;
}

@media (max-width: 480px) {
  :root {
    --unit: 0.24132vw;
  }
  nav {
    padding: calc(var(--unit) * 20) calc(var(--unit) * 30) !important;
  }
  nav .list {
    position: absolute;
    top: 110%;
    right: 5%;
    flex-direction: column;
    background-color: white;
    padding: calc(var(--unit) * 30) calc(var(--unit) * 0) !important;
    border-radius: calc(var(--unit) * 10);
    width: 50%;
  }
  nav .list ul {
    flex-direction: column;
    justify-content: start !important;
    align-items: start;
    width: 70%;
    gap: calc(var(--unit) * 20);
    background-color: white;
  }
  nav .list a {
    width: 70%;
    margin-top: calc(var(--unit) * 20);
  }
  .home-title {
    font-size: calc(var(--unit) * 45) !important;

    margin-top: 34%;

    line-height: calc(var(--unit) * 70);
  }
  .home-btn {
    width: 80%;
  }
}
#rasaWebchatPro{
  margin-left: calc(var(--unit) * 390);
  height: calc(var(--unit) * 540);
  position: absolute;
  top: calc(var(--unit) * 120);
  width: 73%;
  box-shadow: none;
}
.rw-conversation-container{
height: calc(var(--unit) * 590);
box-shadow: none !important;
}
.rw-senderd{
  position: fixed;
  width: 71%;
  bottom: 0%;
  padding-bottom: 2%;
  background-color: white;
  background: rgba(255, 255, 255, 0.71);
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  backdrop-filter: blur(7.6px);
  -webkit-backdrop-filter: blur(7.6px);
  border: 1px solid rgba(255, 255, 255, 0.5);
}
/* Example CSS for the Navbar buttons */
.btn {
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  font-size: 16px;
  border: none;
}

.btn-nav {
  background: linear-gradient(90deg, #ff7e5f, #feb47b);
  color: white;
  margin: 0 5px;
}
 body.chat-active #rasaWebchatPro{
display: block;
}
 body #rasaWebchatPro{
display: none;
}

.login-container {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  background: linear-gradient(to right, #833AB4, #FD1D1D, #FCB045);
  
}


.card {
  width: 100%;
  max-width: 500px; 
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  background: #fff;
  border-radius: 10px;

}

.form-control {
  height: 40px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.btn-primary {
  background-color: #FD1D1D !important;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.btn-primary:hover {
  background-color: #868686 !important;
}

.text-secondary {
  color: #6c757d;
}

.alert {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  padding: 10px;
  border-radius: 5px;
}
.card.login-card{
  height: 100% !important;
  border-top-right-radius: 60px !important;
  border-bottom-right-radius: 60px !important;
  width: 500% !important;
}
.login-message {
  color: #A2A1A8; /* Light gray color */
}

.form-label{
  color: #FD1D1D;
}
.card-title {
  margin-top: 10%;
  margin-bottom: 0;
}
.login-header {
  display: flex;
  align-items: center;
  justify-content: start; /* Align items at the start of the container */
}

.login-logo {
  width: 200px; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-right: 20px; /* Space between logo and text */
}
/* Styles communs */
.common-container {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  background: linear-gradient(to right, #833AB4, #FD1D1D, #FCB045);
}

.common-card {
  width: 100%;
  max-width: 500px; 
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  background: #fff;
  border-radius: 10px;
}

.common-form-control {
  height: 40px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.common-btn-primary {
  background-color: #FD1D1D !important;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.common-btn-primary:hover {
  background-color: #868686 !important;
}

.common-text-secondary {
  color: #6c757d;
}

.common-alert {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  padding: 10px;
  border-radius: 5px;
}

/* Styles spécifiques à la page de login */
.login-card {
  height: 100% !important;
  border-top-right-radius: 60px !important;
  border-bottom-right-radius: 60px !important;
  width: 500% !important;
}

.login-message {
  color: #A2A1A8;
}

.login-form-label {
  color: #FD1D1D;
}

.login-card-title {
  margin-top: 10%;
  margin-bottom: 0;
}

.login-header {
  display: flex;
  align-items: center;
  justify-content: start;
}

.login-logo {
  width: 200px;
  height: auto;
  margin-right: 20px;
}

/* Styles spécifiques à la page d'inscription */
.register-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.register-form-control {
  width: 48%;
}

.register-card-title {
  margin-top: 10%;
  margin-bottom: 0;
}

.common-file-input {
  width: 100%;
}





@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;

    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;

    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;

    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;

    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;

    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;

    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;

    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;

    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

:root {
  --unit: 0.065vw;
  --gradiant: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 47%,
    rgba(252, 176, 69, 1) 100%
  );
  --primary: #fd1d1d;
  --white: #fff;
  --first-color: #fd1d1d;
  --input-color: #80868b;
  --border-color: #dadce0;
  /*===== Fuente y tipografia =====*/
  --body-font: "Roboto", sans-serif;
  --normal-font-size: 1rem;
  --small-font-size: 0.75rem;
}
::-webkit-scrollbar {
  width: calc(var(--unit) * 12); /* Width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary); /* Color of the scrollbar thumb */
  border-radius: 6px; /* Roundness of the scrollbar thumb */
  border: 3px solid #f1f1f1; /* Padding around the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar thumb when hovered */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  font-family: "Open Sans", sans-serif !important;
}
a {
  text-decoration: none !important;
  color: black !important;
}
.gradiant {
  background: var(--gradiant);
  color: var(--white) !important;
}

nav {
  position: fixed;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: fit-content !important;
  margin-inline: auto;
  background-color: white;
  background: rgba(255, 255, 255, 0.71);
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  backdrop-filter: blur(7.6px);
  -webkit-backdrop-filter: blur(7.6px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: calc(var(--unit) * 10) calc(var(--unit) * 60);
  border-bottom: calc(var(--unit) * 2) black solid;
  /* margin-top: calc(var(--unit) * 10); */
}
.logo {
  /* height: calc(var(--unit) * 30); */
  width: calc(var(--unit) * 180);
}
.logo img {
  height: calc(var(--unit) * 36);
}
.show {
  display: flex !important;
}
.btn {
  min-height: calc(var(--unit) * 36) !important;
  border-radius: calc(var(--unit) * 10) !important;
  color: white !important;
  border: none !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
  font-size: calc(var(--unit) * 18) !important;
  padding-inline: calc(var(--unit) * 20) !important;
  font-weight: 600 !important;
}
.btn-nav {
  padding-inline: calc(var(--unit) * 40) !important;
}
.home-title {
  font-size: calc(var(--unit) * 100) !important;
  font-weight: 800 !important;
  text-align: center;
  margin-top: 10%;
  padding-inline: 5%;
  margin-inline: auto;
  line-height: calc(var(--unit) * 130);
}
.home-title span {
  background-color: #fd1d1d !important;
  margin-inline: auto;
  color: white !important;
  padding: calc(var(--unit) * 10) calc(var(--unit) * 40) !important;
  border-radius: calc(var(--unit) * 1000) !important;
}
.home-btn {
  border-top-left-radius: 1000px !important;
  border-bottom-right-radius: 1000px !important;
  padding-inline: calc(var(--unit) * 40);
  width: 20%;
  border: calc(var(--unit) * 3) black solid !important;
}

@media (max-width: 480px) {
  :root {
    --unit: 0.24132vw;
  }
  nav {
    padding: calc(var(--unit) * 20) calc(var(--unit) * 30) !important;
  }
  nav .list {
    position: absolute;
    top: 110%;
    right: 5%;
    flex-direction: column;
    background-color: white;
    padding: calc(var(--unit) * 30) calc(var(--unit) * 0) !important;
    border-radius: calc(var(--unit) * 10);
    width: 50%;
  }
  nav .list ul {
    flex-direction: column;
    justify-content: start !important;
    align-items: start;
    width: 70%;
    gap: calc(var(--unit) * 20);
    background-color: white;
  }
  nav .list a {
    width: 70%;
    margin-top: calc(var(--unit) * 20);
  }
  .home-title {
    font-size: calc(var(--unit) * 45) !important;

    margin-top: 34%;

    line-height: calc(var(--unit) * 70);
  }
  .home-btn {
    width: 80%;
  }
}
#rasaWebchatPro {
  margin-left: calc(var(--unit) * 390);
  height: calc(var(--unit) * 540);
  position: absolute;
  top: calc(var(--unit) * 120);
  width: 73%;
  box-shadow: none;
}
.rw-conversation-container {
  height: calc(var(--unit) * 590);
  box-shadow: none !important;
}
.rw-senderd {
  position: fixed;
  width: 71%;
  bottom: 0%;
  padding-bottom: 2%;
  background-color: white;
  background: rgba(255, 255, 255, 0.71);
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  backdrop-filter: blur(7.6px);
  -webkit-backdrop-filter: blur(7.6px);
  border: 1px solid rgba(255, 255, 255, 0.5);
}
/* Example CSS for the Navbar buttons */
.btn {
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  font-size: 16px;
  border: none;
}

.btn-nav {
  background: linear-gradient(90deg, #ff7e5f, #feb47b);
  color: white;
  margin: 0 5px;
}
body.chat-active #rasaWebchatPro {
  display: block;
}
body #rasaWebchatPro {
  display: none;
}

.form__div {
  position: relative;
  min-height: 52px;
  margin-bottom: 2.2rem;
}
.form__div.text-area {
  position: relative;
  min-height: 100px;
  margin-bottom: 1.5rem;
}
.form__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: var(--normal-font-size) !important;
  border: 1px solid var(--border-color) !important;
  border-radius: 0.5rem;
  outline: none;
  padding: 1rem !important; 
  background: none;
  z-index: 1;
}
.form__label {
  position: absolute;
  left: 0.5rem;
  top: 1rem;
  padding: 0 1rem;
  background-color: #fff;
  color: var(--input-color);
  font-size: 14px !important;
  transition: 0.3s;
}
.form__label {
  position: absolute;
  left: 0.5rem;
  top: 1rem;
  padding: 0 1rem;
  background-color: #fff;
  color: var(--input-color);
  font-size: 14px !important;
  transition: 0.3s;
}

.form__button {
  display: block;
  margin-left: auto;
  padding: 0.75rem 2rem;
  outline: none;
  border: none;
  background-color: var(--first-color);
  color: #fff;
  font-size: var(--normal-font-size);
  border-radius: 0.25rem;
  cursor: pointer;
  transition: 0.3s;
}
.form__button:hover {
  box-shadow: 0 10px 36px rgba(0, 0, 0, 0.15);
}

/*Input focus move up label*/
.form__input:focus + .form__label {
  top: -0.5rem;
  left: 0.8rem;
  color: var(--first-color);
  font-size: var(--small-font-size);
  font-weight: 500;
  z-index: 10;
}

/*Input focus sticky top label*/
.form__input:not(:placeholder-shown).form__input:not(:focus) + .form__label {
  top: -0.5rem;
  left: 0.8rem;
  z-index: 10;
  font-size: var(--small-font-size);
  font-weight: 500;
}

/*Input focus*/
.form__input:focus {
  border: 1px solid transparent !important; /* Keep border transparent */
  background-image: linear-gradient(white, white),
    linear-gradient(to right, #f06, #00f); /* Define gradient here */
  background-origin: border-box;
  background-clip: padding-box, border-box;
  transition: border 250ms;
  outline: none;
}
.submit-btn {
  background: var(--primary) !important;
  padding: calc(var(--unit) * 11) !important;
  font-weight: 500 !important;
  border: 1px solid var(--primary) !important;
  transition: 10s linear;
}
.submit-btn:hover {
  background: var(--gradiant) !important;
  border: none !important;
}

.cancel-btn {
  background-color: transparent !important;
  border: 1px solid var(--primary) !important;
  padding: calc(var(--unit) * 11) !important;
  font-weight: 500 !important;
  color: var(--primary) !important;
}

.error-message {
  color: red;
  font-size: 0.9em;
}

