body.light {
    --bg-color: #ffffff;
    --text-color: #000000;
    --button-bg-color: #28a745;
    --button-text-color: #ffffff;
  }
  
  body.dark {
    --bg-color: #121212;
    --text-color: #ffffff;
    --button-bg-color: #1f1f1f;
    --button-text-color: #ffffff;
  }
  
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
  }
  
  button {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
  }
  